body{
    background-image: url("../images/sky.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oswald', sans-serif;

}

.jumbotron{
    text-align: center;
    background-color: lightcyan;
    color: black;
    font-size: 10px;
    margin: 20px 5px;
    padding: 35px;
}


.container-fluid{
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
    padding: 15px;
    margin: 0px 5px 5px 0px;
}

.btn{
    border-radius: 2px;
    background-color: lightcyan;
    margin: 5px;
    color: black;
}